* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --secoundary: #b3b3b4;
    --secoundary-black: #272727;
    --primary: #ff3e6c;
    --gray-text: #535665;
    --success: green;
    --warning: #f9a61a;
    --danger: #f34648;
    --success-light: rgb(156, 216, 156);
    --warning-light: #f8e0b7;
    --danger-light: #f7b2b3;
    --secoundary-gray: #4e4f53;
}

.nav-icons li a {
    text-decoration: none;
    color: var(--secoundary-gray);
}

.nav-icons {
    margin-left: auto;
}

.nav-container {
    width: 100%;
}

.nav-navigators {
    display: none;
}

.nav-search {
    display: none;
}

.signin-container {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin: 2rem auto;
    padding: 2.5rem 4rem;
    align-items: center;
    width: fit-content;
    border: 1px solid var(--secoundary);
    border-radius: 0.3rem;
    box-shadow: 1px 1px 3px var(--secoundary);
}

.input-form {
    margin: 0;
    width: fit-content;
}

.input-field {
    width: 16rem;
}

.ecommerce-sub-heading {
    font-size: 1.5rem;
    margin: 1rem;
    margin-top: 0;
}

.primary-button {
    margin: 1rem;
}

.signin-tag-line {
    font-size: 1rem;
    font-weight: 600;
}

.nav-github-holder a{
    display:flex;
    flex-direction: row;
    align-items: center;
    }

    .nav-github-holder a{
        text-decoration: none;
        text-align: center;
    }



    /* footer */


.foot {
    width: 100%;
    background-color: var(--secoundary-black);
    display:flex;
    justify-content: space-around;
    align-items: flex-start;
    color:white;
    padding: 1rem;
    flex-wrap: wrap;
}

.footer-sideheading{
    font-weight: bold;
    color:var(--primary);
    font-size: large;
}
.footer-sub-catogories{
    list-style-type: none;
    display:flex;
    align-items: flex-start;
    flex-direction: column;
    gap:0.3rem;
   margin: 0.5rem 0;
}
.social-links{
    flex-direction: row;
    font-size: 25px;
}

.footer-sub-item{
    color: var(--secoundary);
    text-decoration: none; 
}


.footer-catogories{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap:0.5rem;
}

.footer-gmail-phone {
    color: var(--primary);
    font-size: 0px;
}
.logo{
    width:5rem;
    height:5rem;
}

.social-links i{
    width:fit-content;
    height: fit-content;
    padding:0 0.2rem;
    }

.foot img{
    width:12rem;
    height:12rem;
}

@media screen and (max-width: 600px) {
    .footer-gmail-laptop {
        display: none;
        padding: 0px;
    }
    .footer-gmail-phone {
        font-size: 25px;
        color: var(--secoundary);
        padding: 2px;
    }
    .foot{
        flex-direction: column;
        gap:2rem;
        padding-left:2rem;
    }
}